.bg-image{
    --background: url('../home/imagenes/fondoT.jpg') no-repeat center center / cover;
  }
  ion-card{
    --background:white;
    margin-top: 30px;
}

#crear { 
  display:block;
  margin-left: auto;
  margin-right: auto;
}

#ingresar {   
  display:block;
  margin-left: auto;
  margin-right: auto;
}
#iconologin{
  width: 220px;
  height: 220px;
  justify-content: center;
  display: flex;
  margin: 0 auto;
}