<ion-header>
  <ion-toolbar>
    <ion-title>Student Work</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
        <ion-img src="assets/icon/perfil.PNG"></ion-img> 
      <ion-card-title>Mariana Sanchez</ion-card-title>
      <ion-card-subtitle>Estudiante de derecho</ion-card-subtitle>
      <ion-card-subtitle>Bogotá, Colombia</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Soy una persona dedicada, honesta que se encuentra en septimo semestre
      de derecho y quiere desarrollase profesionalmente para asi poder aplicar
      los conocimientos que he adquirido.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item>
      <ion-icon name="list-box" slot="start"></ion-icon>
      <ion-label>Hoja de vida</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  </ion-card>
  
    <ion-fab vertical="top" horizontal="start" slot="fixed">
      <ion-fab-button href="empleo()" >
        <ion-icon  name="briefcase" ></ion-icon>
      </ion-fab-button>
    </ion-fab>
  
</ion-content>
