.bg-image{
    --background: url('../home/imagenes/fondoT.jpg') no-repeat center center / cover;
}

#crear {      
    margin: 10px;
    margin-left: 0px;
    

}

#ingresar {   
    margin: 10px;
    margin-left: 8px;
    
}

ion-card{
    --background:white;
    margin-top: 30px;
}