#crear {      
    margin: 10px;
    margin-left: 40px;
    --background: rgb(226, 43, 113);

}

#ingresar {   
    margin: 10px;
    margin-left: 30px;
    --background: rgb(226, 43, 113);
}

ion-card{
    --background: rgb(181, 209, 209);
}