<ion-header>
    <ion-toolbar  color="warning">
        <ion-title id="titulo">Student Work</ion-title>
        <ion-button color="warning" slot="start"href="home()"fill="outline">
            <ion-icon name="arrow-dropleft" color="dark"></ion-icon>
         </ion-button>
      
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding  class="bg-image">
      <ion-icon id="iconologin" name="md-school"color="warning" ></ion-icon>
      <ion-card> 
          <ion-card-header> 
            <ion-card-title> Iniciar Sesión</ion-card-title> 
          </ion-card-header>
          <ion-card-content > 
            <ion-item>
                <ion-label position="floating" >
                    <ion-icon name="person" item-left color="shape" color="warning"></ion-icon>Correo Electronico</ion-label>
                <ion-input clearInput type="text"[(ngModel)]="email" name="email" pattern="email"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating"><ion-icon name="key" color="warning" tiem-left></ion-icon>Contraseña</ion-label>
                <ion-input type="password" [(ngModel)]="password" name="password"pattern="password"></ion-input>
              </ion-item>
              <br>
              <ion-button  id="ingresar" expand="block"  shape="round" color="dark" (click)="onSubmitLogin()" >Ingresar</ion-button>
      
              <ion-button  id="crear" expand="block" slot="end"  shape="round" color="dark" fill="outline"  href="crear-estudiante()" >Crear perfil</ion-button>
            </ion-card-content>
      </ion-card >
  </ion-content>