<ion-header>
  <ion-toolbar>
      <ion-title>Student Work</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="fondo">
 
    <ion-card class="card" > 
        <ion-card-header> 
            
          <ion-card-subtitle   color="success">Empleo nuevo</ion-card-subtitle>
          <ion-card-title>Se solicita Analista de calidad </ion-card-title> 
          <ion-card-subtitle color="tertiary">PERSOM S.A.S</ion-card-subtitle> 
        </ion-card-header>
        <ion-card-content text-justify>
            Empresa de plàsticos requiere ANALISTA DE CALIDAD 
            con certificación como Auditor ISO 2015, PROFESIONAL 
            en ingeniería industrial o carreras que tengan afinidad
            al sector de plàsticos. 
            <ion-button   class="botones"shape="round" color="danger"  >Ver más</ion-button>
      </ion-card-content > 
      </ion-card >
      <ion-card class="card"> 
          <ion-card-header> 
            <ion-card-subtitle  color="success">Empleo nuevo</ion-card-subtitle>
            <ion-card-title>Se solicita Desarrollador Web.</ion-card-title> 
            <ion-card-subtitle color="tertiary">KRONO TIME S.A.S</ion-card-subtitle> 
          </ion-card-header>
          <ion-card-content text-justify>
              Importante empresa del sector logistico, requiere de manera 
              urgente una persona para el área de sistemas, quien apoyará 
              el proceso de soporte, mantenimineto y TIC'S de la compañia.
              <ion-button class="botones"shape="round" color="danger" >Ver más</ion-button>
        </ion-card-content > 
        </ion-card >
        <ion-card class="card"> 
            <ion-card-header> 
              <ion-card-subtitle  color="success">Empleo nuevo</ion-card-subtitle>
              <ion-card-title>Se solicita Desarrollador Web.</ion-card-title>
              <ion-card-subtitle color="tertiary">LONGPORT COLOMBIA LTDA</ion-card-subtitle> 
            </ion-card-header>
            <ion-card-content text-justify>
                Persona activa y con interés de aprendizaje esperando que el empleado
                este en la capacidad de desarrollar los proyectos en cualquier lenguaje
                de programación (aprendizaje de la compañía).
                <ion-button class="botones"shape="round"  color="danger" >Ver más</ion-button> 
            </ion-card-content > 
            </ion-card >
            <ion-card class="card"> 
                <ion-card-header> 
                  <ion-card-subtitle  color="success">Empleo nuevo</ion-card-subtitle>
                  <ion-card-title>Se solicita Desarrollador de Software Urgente.</ion-card-title>
                  <ion-card-subtitle color="tertiary" >GRUPO ACCION PLUS</ion-card-subtitle> 
                </ion-card-header>
                <ion-card-content text-justify>
                    Importante empresa requiere profesional en Ingeniería de Sistemas o 
                    carreras afines con, experiencia reciente mínima de dos años como 
                    desarrollador de software en DELPHI y .NET, en proyectos BCP y 
                    SGSI – 27001 y CE 052.
                    <ion-button class="botones"shape="round"  color="danger" >Ver más</ion-button>
              </ion-card-content >
            </ion-card >
</ion-content>
