<ion-header>
  <ion-toolbar>
    <ion-title</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card> 
        <ion-card-header> 
          <ion-card-subtitle>Empleo nuevo</ion-card-subtitle>
          <ion-card-title> Se solicita Analista de calidad</ion-card-title> 
        </ion-card-header>
        <ion-card-content >
            Empresa de plàsticos requiere ANALISTA DE CALIDAD 
            con certificación como Auditor ISO 2015, PROFESIONAL 
            en ingeniería industrial o carreras que tengan afinidad
            al sector de plàsticos. 
            Debe tener experiencia en auditorias internas y externas,
            Sistemas de gestión integrados, Calidad, Reporte de Auditorías, 
            levantamiento de Informes requeridos o solicitados, seguimiento 
            a los proceso de calidad de los productos de la planta de producción,
            estrategias y/o propuestas de mejoramiento continuo, manejo 
            de No conformidades.
            <ion-button  class="botones"shape="round"  >Ver más</ion-button>
      </ion-card-content > 
      </ion-card >
      <ion-card> 
          <ion-card-header> 
            <ion-card-subtitle>Empleo nuevo</ion-card-subtitle>
            <ion-card-title> Se solicita Desarrollador Web</ion-card-title> 
          </ion-card-header>
          <ion-card-content >
              Importante empresa del sector logistico, requiere de manera 
              urgente una persona para el área de sistemas, quien apoyará el proceso de soporte, mantenimineto y TIC'S de la compañia.
              <ion-button  class="botones"shape="round"  >Ver más</ion-button>
        </ion-card-content > 
        </ion-card >
</ion-content>
