.card-header {
    background-color: #1F8870;  
    color: #fff  ; 
    box-shadow: none;
  }
  .card {
    background-color: white;
    box-shadow: none;
    color : black;
  }
  .bg-image{
    --background: url('../home/imagenes/fondoT.jpg') no-repeat center center / cover;
}
.tomarFoto{
  background-position:  center center;
  margin-left: 30px;
}
.getFoto{
  background-position:  center center;
  margin-left: 20px;
}

#hoja_vida{
  margin-left: 350px;
}

#enviar{
  margin-right: 250px;
}

.boton1 {
  background-position:  center center;
  margin: 20px;
  margin-top: 20px;
  margin-left: 90px;
  text-align: center;
}
.inPut1{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-block-start: 30px;
  
}
.icon1{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-block-end: 60px;
  text-align: center;
}

.label1{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-block-end: 60px;
  text-align: center;
}

