.card-header {
    background-color: #1F8870;  
    color: #fff  ; 
    box-shadow: none;
  }
  .card {
    background-color: white;
    box-shadow: none;
    color : black;
  }
  .bg-image{
    --background: url('../home/imagenes/fondoT.jpg') no-repeat center center / cover;
}
.tomarFoto{
  margin-left: auto;
 
}
.getFoto{
  
  margin-left: auto;
  
}

#hoja_vida{
  margin-left: 350px;
}

#enviar{
  margin-right: 250px;
}

#titulo{
  text-align: center;
}
  

