<ion-header>
    <ion-toolbar>
      <ion-title>Student Work</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding class ="fondo">
    <ion-card>
      <ion-card-header class="card">
          <ion-img src="assets/icon/perfil.PNG"></ion-img> 
        <ion-item>
          <ion-label position="floating" color="danger">Tú nombre</ion-label>
          <ion-input clearInput type="text" pattern="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating" color="danger">Tú Profesión</ion-label>
            <ion-input clearInput type="text" pattern="text"></ion-input>
        </ion-item>

          <ion-item>
              <ion-label position="floating"color="danger">Tú Ciudad actual</ion-label>
              <ion-input clearInput type="text" pattern="text"></ion-input>
            </ion-item>
        
        
      </ion-card-header>
    
      <ion-card-content text-justify class="card">
          <ion-item>
              <ion-label position="floating" color="danger">Cuentanos sobre ti</ion-label>
              <ion-input clearInput type="text" pattern="text"></ion-input>
          </ion-item>
      </ion-card-content>
    </ion-card>
    
    <ion-card >
      <ion-item>
        <ion-icon name="list-box" slot="start" color ="danger"></ion-icon>
        <ion-label color="danger">Hoja de vida</ion-label>
        <ion-button fill="outline" slot="end" color="success">View</ion-button>
      </ion-item>
    </ion-card>
    
      <ion-fab vertical="top" horizontal="start" slot="fixed">
        <ion-fab-button href="empleo()" color ="danger" >
          <ion-icon  name="briefcase" ></ion-icon>
        </ion-fab-button>
      </ion-fab>
    
  </ion-content>
