.card-header {
    background-color: #1F8870;  
    color: #fff  ; 
    box-shadow: none;
  }
  .card {
    background-color: white;
    box-shadow: none;
    color : black;
  }
  .bg-image{
    --background: url('../home/imagenes/fondoT.jpg') no-repeat center center / cover;
}
.tomarFoto{
  background-position:  center center;
  margin-left: 70px;
}
.getFoto{
  background-position:  center center;
  margin-left: 50px;
}

#hoja_vida{
  margin-left: 350px;
}

#enviar{
  margin-right: 250px;
}
  

