<ion-header>
  <ion-toolbar  color="warning">
      <ion-button  fill="outline" slot="start"color="warning" href="login-empresa()">
          <ion-icon name="arrow-dropleft" color="dark"></ion-icon>
       </ion-button>
    <ion-title> Student Work</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding  class="bg-image">
  <ion-icon id="iconologin" md="md-contacts"color="dark" ></ion-icon>
  <ion-card  class="card"> 
    <ion-card-header class= "card"> 
      <ion-card-title> Crear tu cuenta en Student Work</ion-card-title> 
    </ion-card-header>
<ion-card-content > 
<ion-item>
    <ion-label position="floating">
        <ion-icon name="mail" item-left color="warning"></ion-icon> Correo
    </ion-label>
     <ion-input clearInput type="text"[(ngModel)]="email" name="email" pattern="email"></ion-input>
  </ion-item>
<ion-item>
<ion-label position="floating">
  <ion-icon name="key" item-left color="warning"></ion-icon> Contraseña
</ion-label>
<ion-input type="password" [(ngModel)]="password" name="password" pattern="password"></ion-input>
</ion-item>
</ion-card-content > 
</ion-card >
<ion-button class="boton1" shape="round" color="dark" (click)="OnSubmitRegister()">Continuar</ion-button>       
</ion-content>

