<ion-header>
  <ion-toolbar>
    <ion-title> Student Work</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-content padding>
        <ion-card> 
            <ion-card-header> 
              <ion-card-title> Crear tu cuenta en Student Work</ion-card-title> 
            </ion-card-header>
            <ion-card-content > 
              <ion-item>
                  <ion-label position="floating">
                      <ion-icon name="person" item-left></ion-icon>Nombre completo</ion-label>
                  <ion-input clearInput type="text" ></ion-input>
                </ion-item>
                <ion-list>
                    <ion-radio-group>
                      <ion-list-header>
                          <ion-label position="floating">
                              <ion-icon name="arrow-dropdown-circle" item-left></ion-icon>Seleccione su perfil</ion-label>
                      </ion-list-header>
                      <ion-item>
                          <ion-label>Estudiante</ion-label>
                          <ion-radio slot="start" value="buford" checked></ion-radio>
                        </ion-item>
                    
                        <ion-item>
                          <ion-label>Empleador</ion-label>
                          <ion-radio slot="start" value="biff" disabled></ion-radio>
                        </ion-item>
                     
                    </ion-radio-group>
                  </ion-list>
                  <ion-item>
                      <ion-label position="floating">
                          <ion-icon name="mail" item-left></ion-icon>Correo</ion-label>
                      <ion-input clearInput type="email" pattern="email"></ion-input>
                    </ion-item>
                <ion-item>
                  <ion-label position="floating"><ion-icon name="key" item-left></ion-icon>Contraseña</ion-label>
                  <ion-input type="password" pattern="password"></ion-input>
                </ion-item>
                <ion-button  class="botones"shape="round" href= "perfil()" >Guardar</ion-button>    
              </ion-card-content > 
          </ion-card >
</ion-content>

