<ion-header>
  <ion-toolbar  color="warning">
    <ion-title> Student Work</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding  class="bg-image">
        <ion-card  class="card"> 
            <ion-card-header class= "card"> 
              <ion-card-title> Crear tu cuenta en Student Work</ion-card-title> 
            </ion-card-header>
            <ion-card-content > 
             
                <ion-item>
                    <ion-label position="floating">
                        <ion-icon name="person" item-left color="warning"></ion-icon> Nombre completo
                    </ion-label>
                      <ion-input clearInput type="text" ></ion-input>
                </ion-item>
                  <ion-item>
                      <ion-label position="floating">
                          <ion-icon name="mail" item-left color="warning"></ion-icon> Correo
                      </ion-label>
                       <ion-input clearInput type="email" pattern="email"></ion-input>
                    </ion-item>
                <ion-item>
                  <ion-label position="floating">
                    <ion-icon name="key" item-left color="warning"></ion-icon> Contraseña
                  </ion-label>
                  <ion-input type="password" pattern="password"></ion-input>
                </ion-item>
                    

                <ion-list >
                    <ion-radio-group >
                      <ion-list-header>
                        <ion-label>Seleccione su perfil</ion-label>
                      </ion-list-header>
                  
                      <ion-item>
                        <ion-label>Estudiante</ion-label>
                        <ion-radio slot="start" value="biff" color="warning" checked></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Empleador</ion-label>
                        <ion-radio slot="start" value="griff"color="warning" ></ion-radio>
                      </ion-item>
                    </ion-radio-group>
                  </ion-list>
              </ion-card-content > 
          </ion-card >
          <ion-button class="boton1"shape="round" color="dark" href= "perfil-estudiante()" >Guardar</ion-button>
</ion-content>

