.boton1{
    margin:10px;
    margin-left: 120px;
    color: black;  
   
}

  .card {
    background-color: #fff   ;
    box-shadow: none;
  }
  
  .bg-image{
    --background: url('../home/imagenes/fondoT.jpg') no-repeat center center / cover;
  }
  
