.boton1{
    margin:10px;
    margin-left: 110px;
    color: black;  
   
}
.card-header {
    background-color: #1F8870;  
    color: #fff  ; 
    box-shadow: none;
  }
  .card {
    background-color: #91D2C3    ;
    box-shadow: none;
  }
  ion-item{
    --background : #ffffff   ; 
     
  }