<ion-header>
  <ion-toolbar  color="warning">
      <ion-button color="warning" href="login()">
          <ion-icon name="arrow-dropleft" color="dark"></ion-icon>
       </ion-button>
    <ion-title> Student Work</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding  class="bg-image">
  <ion-card  class="card"> 
    <ion-card-header class= "card"> 
      <ion-card-title> Crear tu cuenta en Student Work</ion-card-title> 
    </ion-card-header>
<ion-card-content > 
<ion-item>
  <ion-label position="floating">
      <ion-icon name="person" item-left color="warning"></ion-icon> Nombre completo
  </ion-label>
    <ion-input clearInput type="text" ></ion-input>
</ion-item>
<ion-item>
    <ion-label position="floating">
        <ion-icon name="mail" item-left color="warning"></ion-icon> Correo
    </ion-label>
     <ion-input clearInput type="email" pattern="email"></ion-input>
  </ion-item>
<ion-item>
<ion-label position="floating">
  <ion-icon name="key" item-left color="warning"></ion-icon> Contraseña
</ion-label>
<ion-input type="password" pattern="password"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">
    <ion-icon name="key" item-left color="warning"></ion-icon>Confirme Su Contraseña
  </ion-label>
  <ion-input type="password" pattern="password"></ion-input>
  </ion-item>
</ion-card-content > 
</ion-card >
<ion-button class="boton1"shape="round" color="dark" href= "perfil-estudiante()" >Guardar</ion-button>       
</ion-content>




