.bg-image{
    --background: url('../home/imagenes/fondoT.jpg') no-repeat center center / cover;
  }

  .boton1{
    display: block;
    color: black;  
}

  .card {
    background-color: #fff   ;
    box-shadow: none;
  }
  #iconologin{
    width: 220px;
    height: 220px;
    justify-content: center;
    display: flex;
    margin: 0 auto;
  }