.botones {
    
    --padding-bottom: 60px;
    --padding-end: 70px;
    --padding-start: 60px;
    --padding-top: 70px;
}


    .bg-image{
        --background: url('../home/imagenes/fondo.png');
        --background-repeat: no-repeat;
        --background-position: center;
        --background-size: contain;
    }


