<ion-header>
  <ion-toolbar>
    <ion-title>
        Student Work
    </ion-title>
  </ion-toolbar>

 
</ion-header>

<ion-content padding class="bg-image">
  
  <div class="row">
    <div class="col text-center">
        <ion-button class="botones"  color="dark" shape="round" (click)="login()">Usuario</ion-button>
    </div>
  </div>
    
  <div class="row">
      <div class="col text-center" >
          <ion-button class="botones"  color="dark" shape="round" (click)="login()">Empresa</ion-button>
      </div>
    </div>  


   
</ion-content>