.botones {
    
    --padding-bottom: 60px;
    --padding-end: 70px;
    --padding-start: 60px;
    --padding-top: 70px;
}


.bg-image{
        --background: url('../home/imagenes/fondo.png') no-repeat center center / cover;
}


