<ion-header>
  <ion-toolbar color="warning">
    <ion-button color="warning" href="empleo()">
        <ion-icon name="arrow-dropleft" color="dark"></ion-icon>
     </ion-button>
    <ion-title>Student Work</ion-title>
</ion-toolbar>
</ion-header>

<ion-content padding class="bg-image">

    <ion-card class="card" > 

        <ion-card-header> 
            <ion-img src="assets/icon/empresa1.jpg" ></ion-img>
          <ion-card-subtitle   color="medium">Hace una semana </ion-card-subtitle>
          <ion-card-title>Se solicita Analista de calidad </ion-card-title> 
          <ion-card-subtitle color="warning">PERSOM S.A.S</ion-card-subtitle> 
        </ion-card-header>

        <ion-card-content text-justify>
            Empresa de plàsticos requiere ANALISTA DE CALIDAD 
            con certificación como Auditor ISO 2015, PROFESIONAL 
            en ingeniería industrial o carreras que tengan afinidad
            al sector de plàsticos. 
           
              REQUISITOS
              Requisitos mínimos:

              – Técnico, Tecnólogo o Profesional en Sistemas .
              – Experiencia de 6 meses en desarrollo nativo Android
              – Experiencia en 6 meses desarrollo nativo iOs
              – Experiencia en proceso de subida de apps a su respectivo market (Google Play, Itunes Connect)

             Salario: $1.500.000 + Prestaciones de ley.

            Fecha De Presentación: MARTES 26 DE MARZO
            Dirección: Calle 52A #18-73 Barrio Galerías
            Hora: 9:00AM
            Preguntar Por: David Naranjo
              
              <ion-icon  class="tiempo" name="briefcase" slot="start" color="warning"></ion-icon>
              <ion-label color="warning">Tiempo parcial</ion-label>
      
        </ion-card-content > 
    </ion-card>

</ion-content>
