<ion-header>
  <ion-toolbar  color="warning">
      <ion-button color="warning" href="login()">
          <ion-icon name="arrow-dropleft" color="dark"></ion-icon>
       </ion-button>
    <ion-title>Student Work</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="bg-image">
    <ion-card> 
      <ion-card-header class="card">
          <ion-card-title> Ingrese la oferta laboral</ion-card-title>
          <!--
        <br>
          <form action="../../form-result.php" method="post" enctype="multipart/form-data" target="_blank">
              Sube una imagen:
          
              <input type="file" name="imagensubida" accept="image/png, .jpeg, .jpg, image/gif">
          
              <input type="submit" value="Enviar datos">
          
          </form>
          <br>-->
          <ion-button (click)="takePhoto()" color="warning" class="tomarFoto">Tomar foto</ion-button>
          <ion-button (click)="getPhoto()" color="warning" class="getFoto"> Foto desde galeria</ion-button>
          <p>  <img src="{{ myPhoto }}"/> </p>

          <ion-item>
          
              <ion-label position="floating" color="dark">
                  <ion-icon name="person" item-left color="warning"></ion-icon>
                  Cargo
              </ion-label>
              <ion-input clearInput type="text" pattern="text"></ion-input>
            </ion-item>
        <ion-item>
          
          <ion-label position="floating" color="dark">
              <ion-icon name="book" item-left color="warning"></ion-icon>
              Haz una pequeña descripción 
          </ion-label>
          <ion-input clearInput type="text" pattern="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating" color="dark">
                <ion-icon name="trending-up" item-left color="warning"></ion-icon>
              Salario
            </ion-label>
            <ion-input clearInput type="text" pattern="text"></ion-input>
        </ion-item>

          <ion-item>
              <ion-label position="floating"color="dark">
                  <ion-icon name="alarm"  md="md-alarm" item-left color="warning"></ion-icon>
                Horario
              </ion-label>
              <ion-input clearInput type="text" pattern="text"></ion-input>
            </ion-item>
      </ion-card-header>
    </ion-card>
    <ion-button class="boton1" color=dark shape="round"  href="empleo()" >Publicar</ion-button>
  </ion-content>
