.fondo{
    --background:  rgb(226, 210, 255);;
}

.card {
    background-color: rgb(190, 155, 255);
    box-shadow: none;
    color : black;
  }

  #publicar {      
    margin: 10px;
    margin-left: 120px;
    --background: rgb(36, 148, 139);

}