.bg-image{
  --background: url('../home/imagenes/fondoT.jpg') no-repeat center center / cover;
}

.card {
  background-color:#fff;
  box-shadow: none;
  color : black;
}


.boton1 {
  background-position:  center center;
  display: block;
}

.tomarFoto{
  background-position:  center center;
  
}
.getFoto{
  background-position:  center center;
}